.box-border {
  box-sizing: border-box !important;
}

.docs-story {
  border-bottom: 1px solid #ededed;
  background-color: #151618 !important;
}

body #anchor--component-progressbar--default .docs-story {
  background-color: #151618 !important;
}

.css-11xgcgt, .css-111a2cx {
  border-radius: 8px;
}